[submodule "zsh/dotzsh"]
	path = zsh/dotzsh
	url = https://github.com/dotphiles/dotzsh.git
[submodule "vim/dotvim"]
	path = vim/dotvim
	url = https://github.com/dotphiles/dotvim.git
[submodule "antigen"]
	path = antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "dotsync"]
	path = dotsync
	url = git@github.com:MrPom/dotsync.git
[submodule "svn-color"]
	path = svn-color
	url = git@github.com:philchristensen/svn-color.git
[submodule "whatthecommit"]
	path = wtc
	url = git@github.com:lwe/whatthecommit.git
